<!-- 新写的代码 begin -->
<div class="integral-bigBox" ng-init="getPointPage();getPointAccount()">
    <div class="home-allTitle pdL20">
        <span>{{i18n('积分')}}</span>
    </div>
    <div class="integral-box clearfix">
        <div class="integral-left">
            <span class="current-point">{{i18n('当前积分')}}:</span><b> {{ pointSum + pointFreezed }}</b>
            <span class="can-use-point">{{i18n('可用积分')}}: {{ pointSum }}</span>
            <span class="freezed-point">{{i18n('冻结积分')}}: {{pointFreezed}}</span>
        </div>
        <div class="integral-right">
            <a href="{{pad.linkUrl}}" target="_blank" ng-repeat="pad in pointAds">{{pad.content}}</a>
        </div>
    </div>
    <div class="main-more">
        <div class="main-title pdL20" ng-init="activeNum='';">
            <span ng-click="activeNum='';" ng-class="{'goods-active':activeNum==0}" class="text hand">{{i18n('全部')}}</span><span class="line"></span>
            <span ng-click="activeNum=1;" ng-class="{'goods-active':activeNum==1}" class="text hand">{{i18n('收入')}}</span><span class="line"></span>
            <span ng-click="activeNum=2;" ng-class="{'goods-active':activeNum==2}" class="text hand">{{i18n('支出')}}</span>
        </div>

        <div class="main-detail">
            <dl class="clearfix">
                <dt  class="detail-time">{{i18n('时间')}}</dt>
                <dd  class="income-text">{{i18n('收入')}}/{{i18n('支出')}}</dd>
                <dd  class="expend-text">{{i18n('说明')}}</dd>
            </dl>
        </div>
        <!-- 全部 部分代码 begin -->
        <div class="all-detail-box" ng-if="activeNum==0 || activeNum==1 || activeNum==2">
            <!-- 当全部部分有内容的时候 begin -->
            <dl class="clearfix pdT20" ng-repeat="point in pointList">
                <dt class="time-text">
                    <span>{{point.transDateStr}}</span>
                </dt>
                <dd class="icome-detail">
                    <span>{{ point.actionType == 1 ? "+" :  "-"}}{{point.transAmount}}</span>
                </dd>
                <dd class="expend-detail">
                    <!--<span>{{point.transType}}</span>-->
                    <span class="expend-color">（{{point.transTypeName}}）</span>
                </dd>
            </dl>

            <!-- 当全部部分有内容的时候 end -->
            <!-- 当全部部分 没有内容的时候 begin -->
             <div class="main-none" ng-if="isShowIcon">
                <div class="main-left mgR15">
                    <span></span>
                </div>
                <div class="main-right">
                    <span>{{i18n('暂无积分')}}~</span>
                </div>
            </div>
        </div>
        <!-- 全部 部分代码 end -->
        <!-- 收入部分代码 begin -->
        <!--<div class="income-detail-box" ng-if="activeNum==2">
            <dl class="clearfix" ng-repeat="point in pointList">
                <dt class="time-text">
                    <span>{{point.createTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                </dt>
                <dd class="icome-detail">
                    <span>{{ point.actionType == 1 ? "+" :  "-"}}{{point.balance}}</span>
                </dd>
                <dd class="expend-detail">
                    <span>{{point.actionTypeName}}</span>
                    <span class="expend-color">（{{point.sourceDetail}}）</span>
                </dd>
            </dl>

            <div class="main-none" ng-if="isShowIcon">
                <div class="main-left">
                    <span></span>
                </div>
                <div class="main-right">
                    <span>{{i18n('暂无积分')}}~</span>
                </div>
            </div>
        </div>-->
        <!-- 收入部分代码 end -->
        <!--  支付部分 begin  -->
        <!--<div class="expend-detail-box" ng-if="activeNum==2">
            <dl class="clearfix" ng-repeat="point in pointList">
                <dt class="time-text">
                    <span>{{point.createTime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
                </dt>
                <dd class="icome-detail">
                    <span>{{ point.actionType == 1 ? "+" :  "-"}}{{point.balance}}</span>
                </dd>
                <dd class="expend-detail">
                    <span>{{point.actionTypeName}}</span>
                    <span class="expend-color">（{{point.sourceDetail}}）</span>
                </dd>
            </dl>

            <div class="main-none" ng-if="isShowIcon">
                <div class="main-left">
                    <span></span>
                </div>
                <div class="main-right">
                    <span>{{i18n('暂无积分')}}~</span>
                </div>
            </div>
        </div>-->
        <!-- 支付部分 end -->
    </div>
    <div pagination page-size="pageSize" page-no="pageNo" total-count="totalCount"
                total-page="totalPage" ng-if="isShowPage"></div>
</div>
<!-- 新写的代码 end -->
