<div class="consult">
    <div class="consult-title">{{i18n('购买咨询')}}</div>
    <div class="consult-content" ng-if="true">
        <div class="cont">
            <div class="tit clearfix">
                <div class="def"> 
                    <span class="time">2017-06-21 08:09</span>
                </div>
                <span class="icon_ask">{{i18n('问')}}</span>
                <a target="_blank" href="#" class="tt">618{{i18n('大足到底价格多少')}}。{{i18n('现在用劵')}}99</a>
            </div>
            <div class="tic"> 
                <span class="icon_ask icon_ret">{{i18n('答')}}</span>
                <a href="#" target="_blank" class="tt">{{i18n('详细活动烦请关注我们商品页面的促销信息')}}，{{i18n('如有赠品或者优惠活动具体有红色字体标出说明的')}}。{{i18n('同等活动可凑单')}}，{{i18n('具体以您提交订单为准')}}，{{i18n('感谢您对欧普照明的支持')}}！{{i18n('祝您购物愉快')}}</a>
            </div>
            <div class="tib">
                <span class="icon_ask"></span>
                 <a target="_blank" href="#" class="tt">{{i18n('某某商家名称')}} <span class="time">2017-06-21 08:09</span></a>
            </div>
        </div>
        <div class="cont">
            <div class="tit clearfix">
                <div class="def"> 
                    <span class="time">2017-06-21 08:09</span>
                </div>
                <span class="icon_ask">{{i18n('问')}}</span>
                <a target="_blank" href="#" class="tt">{{i18n('充电怎么充')}}</a>
            </div>
        </div>
    </div>
    <!--没有咨询-->
    <div class="consult-no" ng-if="false" align='center'>
        <span>{{i18n('没有咨询信息哦')}}~~</span>
    </div>
</div>	
