<div class="order-detail" ng-init="detail.init()">
    <!-- 点击批量售后弹框， 订单列表点击批量售后进来直接弹框 -->
    <div class="modal" ng-if="detail.popIsShow" style="display: block">
        <div class="aftersale-pop-box">
            <div class="aftersale-pop-title f0">
                <div class="pop-title-left">
                    <span class="f14">编辑</span>
                </div>
                <div class="pop-title-right">
                    <span class="close-right-icon" ng-click="detail.popIsShow=false">×</span>
                </div>
            </div>
            <div class="aftersale-pop-main f0">
                <div class="pop-main-title" ng-if="detail.unshippedDelivery.length>0&&detail.alreadyShipped.length>0">
                    <a href="javascript:void(0)" target=_self class="f14 pop-main-title-text disM" ng-class="{'active' : detail.activeTab==1}" ng-click="detail.switchTab(1)">已发货</a>
                    <span class="line-main-title disM"></span>
                    <a href="javascipt:void(0)" target=_self class="f14 pop-main-title-text disM" ng-class="{'active' : detail.activeTab==0}" ng-click="detail.switchTab(0)">未发货</a>
                </div>
                <div class="pop-main-mes-box">
                    <div class="pop-main-mes disT" ng-repeat="item in detail.aftersaleGoods">
                        <div class="label-box">
                            <label class="checkboxStyle-small">
                                <input id="applyProduct"  type="checkbox" hidden="hidden" ng-checked="item.checked" ng-model="item.checked" ng-change="detail.chooseCheck(item)">
                                <span></span>
                            </label>
                        </div>
                        <div class="main-mes-text">
                            <div class="disT mes-imagebox">
                                <img ng-src="{{item.productPicPath}}" height="80px" width="80px" alt="">
                            </div>
                            <div class="mes-goods-text disT">
                                <div class="goods-text-box">
                                    <span class="goods-text-box-span f12">{{item.productCname}}</span>
                                </div>
                                <p class="aftersale-text-mes f14">{{item.itemStatusStr}}</p>
                                <div class="goods-price-text">
                                    <div class="disM goods-price-text-box">
                                        <span class="f12 c9">{{item.productItemAmount/item.productItemNum|currency:"￥"}}</span>
                                    </div>
                                    <div class="disM goods-price-text-box text-right">
                                        <span class="f12 c9">x{{item.productItemNum}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aftersale-pop-footer f0">
                <div class="all-choose-box disM">
                    <div class="all-choose-icon disM">
                        <label class="checkboxStyle-small">
                            <input type="checkbox" hidden="hidden" ng-checked="detail.allSelectButton" ng-model="detail.allSelectButton" ng-change="detail.changeAllSelect(item)">
                            <span></span>
                        </label>
                    </div>
                    <div class="all-choose-text disM">
                        <span class="f12">全选</span>
                    </div>
                </div>
                <div class="all-choose-buttom disM">
                    <a href="javascript:void(0)" target=_self class="sure-button-style f12" ng-click="detail.submitSelected()">确认提交</a>
                    <a href="javascript:void(0)" target=_self class="cancer-button-style f12" ng-click="detail.cancerSelected()">取消</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cancel-close" ng-if="showCancelWindow.isShow">
        <div class="cancel-bomb">
            <div class="cancel-title clearfix">
                <span class="title-text">{{i18n('提示')}}</span>
                <span class="close-img" ng-click="showCancelWindow.noCancel()"></span>
            </div>
            <div class="cancel-main">
                <div class="main-title">
                    <span class="icon-error"></span>
                    <span class="icon-text">{{i18n('订单取消申请')}}</span>
                </div>
                <div class="main-select">
                    <span>{{i18n('取消原因')}}</span>
                    <select type="text" class="aftersalse-input"
                            ng-options="cause as cause.name for cause in orderCommon.causes"
                            ng-model="orderCommon.selectedCauses"></select>
                </div>
                <div class="main-content">
                    <textarea class="textcontent" ng-model="orderCommon.cancelRemark"></textarea>
                </div>
                <div class="main-botton">
                    <a href="" class="button-sure" ng-click="orderCommon.cancelOrder(order,true)">{{i18n('确定')}}</a>
                    <a href="" class="button-cancel" ng-click="showCancelWindow.noCancel()">{{i18n('暂不取消')}}</a>
                </div>
            </div>
        </div>
    </div>
    <!--订单状态与操作-->
    <div class="module">
        <!--面包屑-->
        <div class="module-title crumbs-nav">
            <a ui-sref="index_orderList" class="my-order ">{{i18n('我的订单')}}</a>
            <!-- <span class="center-crumb-arrowhead"></span> -->
            <span ng-if="!detail.order.outOrderCode">{{i18n('订单详情')}}</span>
            <span ng-if="detail.order.outOrderCode">{{i18n('第三方订单号')}}：{{detail.order.outOrderCode}}</span>
        </div>
        <!--订单状态-->

        <div class="order-details">
          <div class="order-details-title">
            <p class="margin-style" ng-if="!detail.order.outOrderCode">{{i18n('订单号')}}：{{detail.order.orderCode}}</p>
            <p class="margin-style" ng-if="detail.order.outOrderCode">{{i18n('第三方订单号')}}：{{detail.order.outOrderCode}}</p>
          </div>
          <div class="order-details-content clearfix">

            <!--左侧状态描述与操作链接-->
            <div class="order-details-left">
                <div>
                    <p class='wait-send theme' ng-if="detail.order.orderStatusStr">{{i18n(detail.order.orderStatusStr)}}</p>
                    <div ng-if="(detail.order.orderStatus == baseConfig.orderStatus.toPay && (detail.order.orderSource == baseConfig.orderSource.presell && (detail.order.presell.status == 10 || detail.order.presell.status == 30)) || detail.order.orderSource != baseConfig.orderSource.presell)">
                        <span class="last-time" ng-if="detail.order.countDownSeconds != null && detail.order.countDownSeconds != 0"><span class="time-content"><span class="time-icon"></span>{{i18n('剩余')}} </span><span single-count-down single-count-down show-count-down="true" time-left="detail.order.countDownSeconds*1000"></span>
                        </span>
                    </div>
                    <div ng-if="detail.order.orderStatus == baseConfig.orderStatus.toPay && detail.order.orderSource == baseConfig.orderSource.presell && (detail.order.presell.status == 25||detail.order.presell.status == 20)">
                        <span class="time-pay" ng-if="detail.order.presell.status == 20">{{detail.order.presell.presellStartTime |date:'MM月dd日 HH:mm:ss'}} {{i18n('开始支付尾款')}}</span>
                        <span class="time-pay" ng-if="detail.order.presell.status == 25">{{detail.order.presell.presellEndTime |date:'MM月dd日 HH:mm:ss'}} {{i18n('前支付尾款')}}</span>
                    </div>
                    <div class="track-box" ng-if="detail.order.operations.canQueryShipping">
                        <a class="track" href="javascript:void(0)" ng-click="orderCommon.openDelivery(detail.order)">{{i18n('跟踪')}}</a>
                    </div>
                    <div class="argin-box">
                        <span ng-repeat="btn in detail.orderBtnList">
                            <span class="{{btn.className}}" ng-if="btn.type=='function'" ng-click="detail.clickFunction(btn.key)">{{i18n(btn.name)}}</span>
                            <a class="{{btn.className}}" ng-if="btn.type=='ui-sref'" ui-sref="{{btn.interactiveData}}">{{i18n(btn.name)}}</a>
                            <a class="{{btn.className}}" ng-if="btn.type=='href'" href="{{btn.interactiveData}}">{{i18n(btn.name)}}</a>
                        </span>
                    </div>
                </div>
            </div>
            <!--右侧订单状态图示-->
            <div class="order-details-right">
                @@include("order/orderProcess.html")
            </div>
          </div>
        </div>
    </div>
    <!--取消原因-->
    <table class="user-mes-box mgB20" ng-if="detail.order.orderStatus == baseConfig.orderStatus.closed">
        <tr>
            <td class="cancel-reason">
                <dl class="clearfix" style="margin-bottom: 0;">
                    <dt>{{i18n('取消时间')}}：</dt>
                    <dd>{{detail.order.orderCancelDateStr}}</dd>
                </dl>
                <dl class="mgT8 clearfix" style="margin-bottom: 0;">
                    <dt>{{i18n('取消原因')}}：</dt>
                    <dd class="width194">
                        {{detail.order.orderCancelReasonStr}}
                    </dd>
                </dl>
                <dl class="mgT8 clearfix" style="margin-bottom: 0;" ng-if="detail.order.orderCsCancelReason">
                    <dt>{{i18n('备注')}}：</dt>
                    <dd>{{detail.order.orderCsCancelReason}}</dd>
                </dl>
            </td>
        </tr>
    </table>
    <!--订单商品-->
    <div class="order-good-box" style="border-bottom: 0; margin-bottom: 0" ng-repeat="suborder in detail.order.orders">
        <!-- <div class="order-no-box">
            <span class="pdL20 bold">{{i18n('订单')}}{{$index+1}}</span>
        </div> -->
        <div class="order-title-box">
            <span class="title-one">{{i18n('商品')}}</span>
            <span class="title-two">{{i18n('单价')}}</span>
            <span class="title-three">{{i18n('数量')}}</span>
            <span class="title-fore" style="margin-left: 20px;">{{i18n('小计')}}</span>
            <span class="title-five">{{i18n('操作')}}</span>
        </div>
        <div class="goods-box goods-box-border">
            <dl class="clearfix goods-box-dl" ng-repeat="pro in suborder.items">
                <dt>
                <div class="dt-left">
                    <a href="item.html?itemId={{pro.seriesParentId||pro.mpId}}">
                        <img width="50" height="50" ng-src="{{pro.productPicPath}}" alt="">
                    </a>
                </div>
                <div class="dt-right">
                    <a href="item.html?itemId={{pro.seriesParentId||pro.mpId}}">{{pro.productCname}}</a>
                    <span ng-repeat="property in pro.attributes">{{property.name}}:{{property.value}}<br/></span>
                </div>
                </dt>
                <dd class="width180">
                    <span>{{pro.productPriceFinal | currency:'￥'}}</span>
                </dd>
                <dd class="width100" ng-if="detail.approveOrders.approvalStatus != 4">
                    <span>{{pro.productItemNum}}</span>
                </dd>

                <dd class="width180" ng-if="detail.approveOrders.approvalStatus == 4">
                    <div class="numbox">
                        <button type="button"
                        ng-disabled="pro.productItemNum<=1"
                        ng-click="detail.decrease($event,pro)">-
                        </button>
                        <input type="text"
                               ng-model="pro.productItemNum"
                               ng-change="detail.changeNum(this, pro)">
                        <button type="button"
                                ng-click="detail.increase($event,pro)">+
                        </button>
                    </div>
                </dd>
                <dd class="width140">
                    <span>{{pro.productPriceFinal*pro.productItemNum | currency:'￥' }}</span>
                </dd>
                <dd class="width140">
                    <a class="supplement" ng-if="pro.supportedReturnTypes&&pro.supportedReturnTypes.length" href="javascript:void(0)" ui-sref="index_afterSaleApply_new({applyAfterSale:1,code:detail.order.orderCode,mpId:pro.mpId})">{{i18n('申请售后')}}</a>
                </dd>
            </dl>
            <!--待收货（服务订单）  begin --><!-- 如果补够服务商品知道属于哪个父类商品， 并且有父类的订单号， 父类的单号跟自己不一样就显示该dom -->
            <!-- <div class="service-Bigbox" ng-if="(detail.order.orderCode != detail.order.orderCodePr)">
                <div class="service-box-left">
                    <div class="service-title">
                        <span>{{i18n('关联单据及商品')}}</span>
                    </div>
                    <div class="service-bottom">
                        <div class="service-left">
                            <span >{{i18n('关联订单编号')}}</span>
                        </div>
                        <div class="service-right">
                            <span>{{detail.order.orderCodePr}}</span>
                        </div>
                    </div>
                </div>

                <div class="service-box-right" ng-repeat="suborder2 in detail.parentOrder">
                    <div ng-repeat="item in suborder2.items">
                        <a class="good-mes-left" href="item.html?itemId={{item.seriesParentId||item.mpId}}">
                            <img width="80" height="80" ng-src="{{item.productPicPath}}" alt="">
                        </a>
                        <div class="good-mes-right">
                            <a href="item.html?itemId={{item.seriesParentId||item.mpId}}">{{item.productCname}}</a>
                            <span class="good-attr">
                                <span ng-repeat="property in item.attributes">{{property.name}}:{{property.value}}<br/></span>
                            </span>
                            <span>x{{item.productItemNum}}</span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--待收货（服务订单）  end -->
        </div>
        <table class="user-mes-box order-info">
            <tr>
                <!-- 已退回状态 -->
                <td class="one-user">
                    <p>{{i18n('基本信息')}}</p>
                    <dl class="clearfix">
                        <dt style="width: 65px;">{{i18n('创建人')}}</dt>
                        <dd>{{detail.order.userName}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt style="width: 65px;">{{i18n('成本中心')}}</dt>
                        <dd class="width194">
                            <div class="costcenter-info fl" ng-if="detail.approveOrders.approvalStatus != 4">{{detail.approveOrders.costName}}</div>
                            <select name="" id="" ng-model="detail.approveOrders.costCenterId" class="form-input" ng-if="detail.approveOrders.approvalStatus == 4">
                                <option ng-repeat="item in detail.costCenterList" ng-selected="item.id == detail.approveOrders.costCenterId" value="{{item.id}}">{{item.costName}}</option>
                            </select>
                        </dd>
                    </dl>
                </td>
                <!--配送信息-->
                <!-- 非已退回状态 -->
                <td class="two-user pdTB15LR15" ng-if="detail.approveOrders.approvalStatus != 4">
                    <p>{{i18n('收货信息')}}</p>
                    <dl class="clearfix">
                        <dt>{{i18n('收货人姓名')}}</dt>
                        <dd>{{detail.order.receiverPerson && detail.order.receiverPerson.receiverName }}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('收货地址')}}</dt>
                        <dd>{{detail.order.fullGoodReceiverAddress}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('固定电话1')}}</dt>
                        <dd>{{detail.order.goodReceiverTel}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('固定电话2')}}</dt>
                        <dd>{{detail.order.goodReceiverTel2}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('手机号码')}}</dt>
                        <dd>{{detail.receiverMobile}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('代收人')}}</dt>
                        <dd>{{detail.order.proxyReceiverName}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('代收人手机号')}}</dt>
                        <dd>{{detail.order.proxyReceiverMobile}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('预计发货日期')}}</dt>
                       <dd>{{detail.approveOrders.shipmentDate}}</dd>
                    </dl>
                </td>
                <!-- 已退回状态 -->
                <td class="two-user pdTB15LR15" ng-if="detail.approveOrders.approvalStatus == 4">
                    <p>{{i18n('收货信息')}}</p>
                    <dl class="clearfix">
                        <dt>{{i18n('收货人姓名')}}</dt>
                        <select class="form-input" name="" id="" ng-model="detail.approveOrders.goodReceiverPersonId" ng-change="detail.changeRecieiverName(detail.approveOrders.goodReceiverPersonId)">
                            <option ng-repeat="item in detail.merchantReceiverMumberList" ng-selected="item.id == detail.approveOrders.goodReceiverPersonId" value="{{item.id}}">{{item.receiverName}}</option>
                        </select>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('收货地址')}}</dt>
                        <select class="form-input" name="" id="" ng-model="detail.approveOrders.goodReceiverAddressId" ng-change="detail.changeReciveAdress(detail.approveOrders.goodReceiverAddressId)">
                            <option ng-repeat="item in detail.merchantReceiverAdressList" value="{{item.addressId}}" ng-selected="item.addressId == detail.approveOrders.goodReceiverAddressId">{{item.provinceName}}{{item.cityName}}{{item.regionName}}{{item.detailAddress}}</option>
                        </select>
                    </dl>
                    <dl class="clearfix"">
                        <dt>{{i18n('固定电话1')}}</dt>
                        <dd>{{detail.approveOrders.goodReceiverTel}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('固定电话2')}}</dt>
                        <dd>{{detail.approveOrders.goodReceiverTel2}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('手机号码')}}</dt>
                        <dd>{{detail.approveOrders.goodReceiverMobile}}</dd>
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('代收人')}}</dt>
                        <input class="form-input" type="text" ng-model="detail.approveOrders.proxyReceiverName">
                    </dl>
                    <dl class="clearfix">
                        <dt>{{i18n('代收人手机号')}}</dt>
                        <input class="form-input" type="text" ng-model="detail.approveOrders.proxyReceiverMobile">
                    </dl>
                    <dl class="clearfix" style="line-height: 30px">
                        <dt>{{i18n('预计发货日期')}}：</dt>
                        {{detail.approveOrders.shipmentDate}}
                    </dl>
                </td>
                 <!--支付方式-->
            <td class="three-user pdTB15LR15">
                <p>{{i18n('结算信息')}}</p>
                <dl class="clearfix">
                    <dt>{{i18n('付款方式')}}</dt>
                    <dd ng-if="detail.approveOrders.approvalStatus ==4">
                        <div class="applyMethod-info">
                            <label ng-if="canOwe == 1" for="female" class="radioStyle-big" style="margin-right: 30px;">
                                <input id="female" type="radio" ng-model="detail.order.orderPaymentType" value="4">
                                <span></span> {{i18n('赊账')}}
                            </label>
                            <!-- <label for="male" class="radioStyle-big">
                                <input id="male" type="radio" ng-model="detail.order.orderPaymentType" value="3">
                                <span></span> {{i18n('货到付款')}}
                            </label> -->
                        </div>
                    </dd>
                    <dd ng-if="detail.approveOrders.approvalStatus != 4">{{detail.paymentType[detail.order.orderPaymentType]}}</dd>
                </dl>
                <dl class="clearfix" ng-if="$parent.switchConfig.center.orderDetail.showProductSum">
                    <dt>{{i18n('商品数量')}}</dt>
                    <dd>{{detail.proAllNum}}</dd>
                </dl>
                <dl class="clearfix" ng-if="$parent.switchConfig.center.orderDetail.showFreight">
                    <dt>{{i18n('运费')}}</dt>
                    <dd>¥{{detail.totalOrderDeliveryFee}}</dd>
                </dl>
                <dl class="clearfix">
                    <dt>{{i18n('合计')}}</dt>
                    <dd class="theme bold">{{(detail.proAllPrice + detail.totalOrderDeliveryFee) | currency:'￥'}}</dd>
                </dl>
            </td>
             <!--发票清单-->
             <!-- ng-if="suborder.invoiceType&&$parent.switchConfig.center.orderDetail.showInvoice&&suborder.invoiceType" -->
             <td class="fore-user pdTB15LR15" ng-if="detail.approveOrders.approvalStatus !=4">
                <p>{{i18n('发票信息')}}</p>
                <div class="need-invoice">
                    <!-- ng-class="detail.approveOrders.isInvoice? invoice-sure:invoice-false" -->

                    <span style="display: inline-block; font-size: 12px;margin-left: 20px"
                            class="invoice-sure"
                            ng-class="{'invoice-false': detail.approveOrders.isInvoice}"
                            ></span>
                    <span>{{i18n('暂不开票')}}</span>
                </div>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>{{i18n('发票类型')}}</dt>
                    <dd>
                        {{detail.invoiceType[detail.approveOrders.invoiceType]}}
                    </dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>{{i18n('发票抬头')}}：</dt>
                    <dd>{{detail.approveOrders.invoiceTitleContent}}</dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>PO编号：</dt>
                    <dd>{{detail.approveOrders.poCode}}</dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>PO金额含税：</dt>
                    <dd>{{detail.approveOrders.poAmountFax}}</dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>PO金额不含税：</dt>
                    <dd>{{detail.approveOrders.poAmount}}</dd>
                </dl>
            </td>
            <td class="fore-user pdTB15LR15" ng-if="detail.approveOrders.approvalStatus == 4">
                <p>{{i18n('发票信息')}}</p>
                <div class="need-invoice">
                            <!-- ng-class="detail.approveOrders.isInvoice? invoice-sure:invoice-false" -->

                    <span style="display: inline-block; font-size: 12px;margin-left: 20px"
                            class="invoice-sure"
                            ng-class="{'invoice-false': detail.approveOrders.isInvoice}"
                            ng-click="detail.approveOrders.isInvoice = !detail.approveOrders.isInvoice"></span>
                    <span>{{i18n('无需发票')}}</span>
                </div>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>{{i18n('发票类型')}}：</dt>
                    <dd>
                        <select class="form-input" ng-model="detail.approveOrders.invoiceType">
                            <option value="1" selected="detail.approveOrders.invoiceType ==1">普通发票</option>
                            <option value="2" selected="detail.approveOrders.invoiceType ==2">增值税专用发票</option>
                        </select>
                    </dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>{{i18n('发票抬头')}}：</dt>
                    <dd>
                        <select class="form-input" name="" id="" ng-model="detail.approveOrders.invoiceTitleContent">
                            <option ng-repeat="item in detail.merchantInvoiceTitleList" value="{{item.invoiceTitleContent}}" ng-selected="detail.approveOrders.invoiceTitleContent == item.invoiceTitleContent">{{item.invoiceTitleContent}}</option>
                        </select>
                    </dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>PO编号：</dt>
                    <dd>
                        <input class="form-input" type="text" ng-model="detail.approveOrders.poCode">
                    </dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>PO金额含税：</dt>
                    <dd>
                        <input class="form-input" type="text" ng-model="detail.approveOrders.poAmountFax">
                    </dd>
                </dl>
                <dl class="clearfix" ng-if="detail.approveOrders.isInvoice">
                    <dt>PO金额不含税：</dt>
                    <dd>
                        <input class="form-input" type="text" ng-model="detail.approveOrders.poAmount">
                    </dd>
                </dl>
                <dl ng-if="detail.approveOrders.isInvoice">
                    <div>
                        <span class="select-file" href="javascript:;"name="certificate" ngf-select="detail.uploadImage()" ng-model="detail.invoiceUrl">选择文件</span>
                    </div>
                    <div class="">

                        <span>{{i18n('审核文件上传')}}</span>
                        <img width="50px" style="margin-left: 30px" ng-src="{{userdetail.fileUrl}}" alt="">
                    </div>
                </dl>
            </td>
            </tr>
        </table>

        <table class="user-mes-box">
            <tr>
            <td class="one-user pdTB25LR20">
                    <p>{{i18n('订单备注')}}</p>
                    <dl class="clearfix">
                        <dt>{{i18n('用户备注')}}：</dt>
                        <dd class="max-width80per" ng-if="detail.approveOrders.approvalStatus != 4">{{suborder.orderRemarkUser}}</dd>
                        <dd ng-if="detail.approveOrders.approvalStatus ==4">
                            <!-- <input type="textarea" cols="40" rows="10"> -->
                            <textarea name="" id="" cols="100" rows="3 ng-model="detail.orderRemarkUser"></textarea>
                        </dd>
                    </dl>
                    <!-- <dl class="clearfix" ng-if="suborder.orderRemarkReply">
                        <dt>{{i18n('商家备注')}}：</dt>
                        <dd class="max-width80per">
                            {{suborder.orderRemarkReply}}
                        </dd>
                    </dl> -->
                </td>
            </tr>
        </table>
    </div>
    <!-- 结算信息 -->
    <div class="approve-list examines-box" style="margin-bottom: 50px;">
        <div class="examines clearfix">
            <div class="examines-title">审批进程</div>
            <!-- <div class="examines-info">
                <div class="info-title clearfix">
                    <span class="w15">审批人</span>
                    <span class="w35">审批结果</span>
                    <span class="w25">审批时间</span>
                    <span class="w25">备注</span>
                </div>
            </div> -->
            <ul class="examines-content">
              <li ng-repeat="(index, item) in detail.approveList" ng-class="{active: index === 0}">
                <span>{{item.approvalDate}}</span>
                <bdo>{{item.approvalUsername}}</bdo>
                <em>{{item.apprStatusStr}}</em>
              </li>
            </ul>
            <!-- <table border="1px" bordercolor="#eee" cellspacing="0px" style="border-collapse:collapse">
                <tbody>
                    <tr ng-repeat="item in detail.approveList">
                        <td width="15" align="center">{{item.approvalUsername}}</td>
                        <td width="35" align="center">{{item.apprStatusStr}}</td>
                        <td width="25" align="center">{{item.approvalDate}}</td>
                        <td width="25" align="center">{{item.approvalRemark}}</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
    <ng-include src="'delivery'"></ng-include>
</div>
<!-- 新写死的代码 end -->
