<!doctype html>
<html lang="zh-cn">
<head>
    <title>试用商品详情</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="/view/cms,frontier_guide/pc/templateJS.json"></script>
    <link rel="stylesheet" type="text/css" href="/common.css?v=${version}">
    <link rel="stylesheet" type="text/css" href="/trialDetail#((skin)).css?v=${version}">

</head>
<base target="_blank"/>
<body ng-app="appControllers" ng-controller="trialDetailCtrl">

@@include("header.html")
@@include("global-nav.html")
<dl ng-include="'includes/_location.html'"></dl>
<div class="container">
    <div class="navigation-nav"><a href="../index.html">{{i18n('首页')}}</a><i class="icon-arrow-right4 mgL10 mgR10"></i><a
            ng-repeat-start="crumb in productDetail.crumbList"
            href="search.html?navCategoryIds={{crumb.categoryId}}">{{crumb.categoryName}}</a><i
            class="icon-arrow-right4 mgL10 mgR10" ng-repeat-end></i>{{productDetail.productInfo.mpName|textLengthFormat:30}}
    </div>
    <div class="trial-apply">
        <dl>
            <dt>
                <img ng-src="{{productDetail.productInfo.picUrl}}" alt="">
            </dt>
            <dd>
                <h4>{{productDetail.productInfo.mpName}}</h4>
                <h5>{{i18n('价格')}}: <span>{{productDetail.productInfo.price|currency:'￥' }}</span><em style="cursor: pointer;" ng-click="productDetail.toItemPage(productDetail.productInfo.mpId,productDetail.productInfo.seriesParentId)">{{i18n('我要购买')}}</em></h5>
                <div class="trial-infor">
                    <ul>
                        <li>
                            <em>{{i18n('免费提供')}}</em>
                            <p><span class="f40">{{productDetail.limitNum}}</span>{{i18n('份')}}</p>
                        </li>
                        <li>
                            <em>{{i18n('已申请人数')}}</em>
                            <p><span class="f40">{{productDetail.productInfo.hasApplicedCount}}</span>{{i18n('人')}}</p>
                        </li>
                        <li>
                            <em>{{i18n('剩余时间')}}</em>
                            <p class="f16 mgT20"><span ng-if="productDetail.productInfo.endTime && nowTime" count-down show-count-down="true" end-time="productDetail.productInfo.endTime" current-time="nowTime"></span></p>
                        </li>
                    </ul>
                </div>
                <p>

                    <button type="button" name="" ng-click="toFreeTrial(productDetail.productInfo.mpId,productDetail.productInfo.activityId)" ng-disabled="productDetail.productInfo.applicedFlag === 1">{{productDetail.productInfo.applicedFlag===1?i18n('已申请'):i18n('免费试用')}}</button>
                </p>
            </dd>
        </dl>
        <div class="trial-proBox">
            <ul ng-init="activeNum=0">
                <li ng-click="activeNum=0;" ng-class="{'active':activeNum==0}">{{i18n('商品详情')}}</li>
                <li ng-click="activeNum=1;" ng-class="{'active':activeNum==1}">{{i18n('活动说明')}}</li>
                <li ng-click="activeNum=2;" ng-class="{'active':activeNum==2}">{{i18n('试用报告')}}</li>
            </ul>
            <div class="trial-proDetail">
                <div class="trial-proImg" ng-if="activeNum==0">
                    <!--<h4 ng-if="itemAttrlist"></h4>-->
                    <div ng-if="itemAttrlist" ng-bind-html="itemAttrlist | trustHtml"></div>
                    <span ng-if="!itemAttrlist">{{i18n('抱歉')}}，{{i18n('内容暂无')}}，{{i18n('商家还没有发布相关内容')}}</span>
                </div>
                <div class="trial-activity" ng-if="activeNum==1">
                    <h4>{{i18n('活动说明')}}</h4>
                    <span ng-bind-html="productDetail.productInfo.description | trustHtml"></span>
                </div>
                <div class="trial-report-infor" ng-if="activeNum==2">
                    <h4>{{i18n('试用报告')}}</h4>
                    <ol>
                        <dl ng-repeat="report in productReport.productReportList">
                            <dt>
                                <span><img ng-src="{{report.socialUUserVo.headPicUrl}}" alt="">{{report.socialUUserVo.mobile|hidePhone}}</span>
                                <!--金牌会员-->
                            </dt>
                            <dd>
                                <div>
                                    <span>{{report.deccodeVariables.experience.label}}:</span>
                                    <p>
                                        {{report.deccodeVariables.experience.value}}
                                    </p>
                                    <div class="trial-experience">
                                        <h5>{{report.deccodeVariables.process.label}}:</h5>
                                        <p>{{report.deccodeVariables.process.value}}</p>
                                        <a href="/trialReport.html?trialReportId={{report.id}}">{{i18n('查看详细试用报告')}}</a>
                                        <div class="trial-imgList">
                                        <span ng-repeat="img in report.deccodeVariables.image.value">
                                            <img style="width: 30px" ng-src="{{img}}" alt="">
                                        </span>
                                        </div>
                                    </div>
                                    <h6>{{report.createTime| date:'yyyy-MM-dd HH:mm:ss'}}</h6>
                                </div>
                            </dd>
                        </dl>
                        <div pagination page-size="pageSize" page-no="pageNo" total-count="totalCount" total-page="totalPage" ng-if="productReport.showPage"></div>
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
@@include("footer.html")
@@include("script.html")
<script type="text/javascript" src="/trialDetail.js?v=${version}"></script>
<script type="text/javascript" src="/api/i18n.do?response=angular&poolName=pc&group=trialDetail"></script>
</body>
</html>
