<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="heimdall" content="成本中心">
	<script type="text/javascript" src="/view/cms,frontier_guide/pc/templateJS.json"></script>
	<link rel="stylesheet" type="text/css" href="/common.css?v=${version}">
    <!-- <link rel="stylesheet" type="text/css" href="/index#((skin)).css?v=${version}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/demo.css"> -->
    <link rel="stylesheet" type="text/css" href="/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="/home#((skin)).css?v=${version}">
    <link rel="stylesheet" type="text/css" href="/costCenter#((skin)).css?v=${version}">

</head>

<body ng-app="appControllers" ng-controller="indexCtrl" ng-style="{'background-color':bgColor}">
    @@include("header.html")
@@include("global-nav.html")
<div class="container" ng-cloak ng-click='hidedig()'>
    <div class='cost-nav'>{{i18n('首页')}} <i class="icon-top-down icon-person down-person cost-down"></i> {{i18n('成本中心')}}</div>
    <div class='cost-content clearfix'>
        <div class='fl cost-tree'>
            <div class='input-btn'>
                <input type="text" id='key' value="" ng-model="keyword" class="empty" placeholder="请输入关键字">
                <img src="../images/search.png" alt="" class='search-btn' ng-click='search()'>
                <img src="../images/fanhui.png" alt="" class='fanhui-btn' ng-click='huifu()'>
            </div>
            <div class='pil'>
                <a href="javascript:;"><input type="file" name="certificate" ngf-select="upload()" ng-model="fileUrl"/>{{i18n('批量导入')}}</a>
                <a href="/custom-sbd-web/template/import_cost_center.xlsx">{{i18n('模板下载')}}</a>
                <!-- 编辑弹框 -->
                    <ul class='edit-dig' id="edit-dig-box" ng-show='showeditdig'>
                      <li ng-click='addsamex()' ng-if='currentdata.parentId!=0'><img src="../images/zeng.png" alt=""> <span>新增下级</span></li>
                        <li ng-click='addsame()' ng-if='disabed'><img src="../images/zeng.png" alt=""> <span>新增同级</span></li>
                        <li ng-click='moveup()'><img src="../images/shangyi.png" alt=""> <span>上移一层</span></li>
                        <li ng-click='movedown()'><img src="../images/xiayi.png" alt=""> <span>下移一层</span></li>
                        <li ng-click='movetop()'><img src="../images/zhiding.png" alt=""> <span>置顶</span></li>
                        <li ng-click='movebottom()'><img src="../images/zhidi.png" alt=""> <span>置底</span></li>
                        <li ng-click='editbumen()'><img src="../images/bianji.png" alt=""> <span>编辑</span></li>
                        <li ng-click='delcost()' ng-if='disabed'><img src="../images/shanchu.png" alt=""> <span>删除</span></li>
                    </ul>
            </div>
            <div class="treeBox">
              <ul id="tree" class="ztree"></ul>
            </div>
            
        </div>
        <!-- 部门详情的页面 -->
        <div class='fr cost-info' ng-if='step==1'>
            <div class='edit' ng-click='editsection()' ng-if="isShowEidtDetail">{{i18n('编辑')}}</div>
            <div class='title'>{{i18n('详情')}}</div>
            <div class="nav">
                <span style="color:#333333">{{allroad[0]}}</span> <i ng-if='allroad[1]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[1]}}</span> <i ng-if='allroad[2]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[2]}}</span> <i ng-if='allroad[3]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[3]}}</span>
            </div>
            <div class='bigtitle'>{{currentdata.costName}}</div>
            <!-- <div class='employ'>{{i18n('部门员工')}}</div> -->
            <div class='employ'> <span class='allemploy' ng-class="{show:currentstep==1}" ng-click='getall()'>{{i18n('所有员工')}}</span> <span class='currentem' ng-class="{show:currentstep==2}" ng-click='getcurrent()'>{{i18n('当前员工')}}</span></div>
            <div class='employ-title clearfix'>
                <span>{{i18n('姓名')}}</span>
                <span>{{i18n('账号')}}</span>
                <span>{{i18n('岗位')}}</span>
                <span>{{i18n('工号')}}</span>
                <span>{{i18n('手机号')}}</span>
                <span>{{i18n('邮箱')}}</span>
                <span>{{i18n('操作')}}</span>
            </div>
            <ul class='employ-content '>                
                <li class="clearfix" ng-repeat="p in employerList">
                    <span ng-click='toedit(p.userId)' style="cursor: pointer;">{{p.nickname}}</span>
                    <span>{{p.username}}</span>
                    <span>{{p.position}}</span>
                    <span>{{p.jobNumber}}</span>
                    <span>{{p.mobile}}</span>
                    <span title="{{p.email}}">{{p.email}}</span>
                    <span> <em ng-click='toedit(p.userId)'>编辑</em>  <em ng-click="tochosedepart(p.userId)">调整部门</em></span>
                </li>
            </ul>
            <div style="margin-top: 40px;" pagination page-size="pageSize" page-no="pageNo" total-count="totalCount"
            total-page="totalPage"  ng-if="isShowPage"></div>
        </div>
        <!-- 编辑部门的页面 -->
        <div class='fr cost-info' ng-if='step==2'>
            <div class='goback' ng-click='goback()'> &lt&lt {{i18n('返回')}}</div>
            <div class='title'>{{i18n('编辑部门')}}</div>
            <div class="nav">
                <span>{{allroad[0]}}</span> <i ng-if='allroad[1]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[1]}}</span> <i ng-if='allroad[2]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[2]}}</span> <i ng-if='allroad[3]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[3]}}</span>
            </div>
            <div class="employ">{{i18n('部门信息')}}</div>
            <div class='edit-content'>
                <table class='edit-tab'>
                    <tbody>
                        <tr ng-if='idshow'>
                            <td>{{i18n('成本中心ID')}}  </td>
                            <td>{{currentdata.id}}</td>
                        </tr>
                        <tr ng-if='currentdata.parentId!=0'>
                            <td style="position: relative;">{{i18n('上级成本中心')}} <input  type="button" class="btn btn_hold choseP1 borderStyle" ng-if='idshow' style="top:12px;" ng-click='tochosedepart1()' value="{{i18n('选择')}}"></td>
                            <td ng-if='!idshow'><span ng-if='pdz'>{{prevnode.costName}}</span><span ng-if='!pdz'>{{currentdata.costName}}</span></td>
                            <td ng-if='idshow'><input type="text" style="padding-left: 11px;width: 281px;" ng-model='bumenradio.costName' ng-if='pdz' class='name-input' readonly><input type="text" ng-if='!pdz' style="padding-left: 11px;width: 281px;" ng-model='currentdata.costName' class='name-input'></td>
                        </tr>
                        <tr>
                            <td><span class='wjx'>*</span>{{i18n('成本中心名称')}} </td>
                            <td ng-if='idshow'><input type="text" placeholder="请输入部门名称" class='name-input borderStyle' ng-model='currentdata.costName'></td>
                            <td ng-if='!idshow'><input type="text" placeholder="请输入部门名称" class='name-input borderStyle' ng-model='info.editName'></td>
                        </tr>
                        <tr> 
                            <td class="textareaStyle">{{i18n('成本中心描述')}} </td>
                            <td ng-if="idshow"><textarea style="width: 280px;height: 66px;position: relative;top: 8px;margin-bottom: 34px;" class="borderStyle" name="" id="" placeholder="发放" ng-model='currentdata.desc'></textarea></td>
                            <td ng-if="!idshow"><textarea style="width: 280px;height: 66px;position: relative;top: 8px;margin-bottom: 34px;" class="borderStyle" name="" id="" placeholder="发放" ng-model='addEquative.desc'></textarea></td>                            
                        </tr>
                        <tr>
                            <td><span class='wjx'>*</span>{{i18n('是否需要审批')}} </td>
                            <td ng-if="idshow">
                                <label for="female" class="radioStyle-big">
                                    <input id="female" type="radio" ng-model='currentdata.approvalWay' value="1">
                                    <span></span> {{i18n('按订单金额')}}
                                </label>
                                <label for="male" class="radioStyle-big">
                                    <input id="male" type="radio" ng-model='currentdata.approvalWay' value='2'>
                                    <span></span> {{i18n('不审批')}}
                                </label>
                            </td>
                            <td ng-if="!idshow">
                                <label for="female" class="radioStyle-big">
                                    <input id="female" type="radio" ng-model='addEquative.approvalWay' value="1">
                                    <span></span> {{i18n('按订单金额')}}
                                </label>
                                <label for="male" class="radioStyle-big">
                                    <input id="male" type="radio" ng-model='addEquative.approvalWay' value='2'>
                                    <span></span> {{i18n('不审批')}}
                                </label>
                            </td>
                        </tr>
                        <tr ng-if='(idshow && currentdata.approvalWay==1) || (!idshow && addEquative.approvalWay==1)'>
                            <td style="position: relative;top:-34px"><span class='wjx'>*</span>{{i18n('审批人')}} :<input  type="button" class="btn btn_hold choseP" value="{{i18n('选择')}}" ng-click='openshenpi()'></td>
                            <td>
                                <div class='assessP' style="width:292px;height:100px;overflow:auto;border-radius: 2px;margin-top: 17px;margin-bottom: 8px;">
                                    <li ng-repeat='k in realList1'>{{k.username}}<img src="../images/cancelbtn.png" alt="" ng-click='deleReal(k.userId)'></li>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if='currentdata.approvalWay==1 && idshow'>
                            <td><span class='wjx'>*</span>{{i18n('审批金额')}} :</td>
                            <td><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="borderStyle" style="width: 279px!important;" placeholder="" ng-model='currentdata.approvalAmount'></td>
                            <td> <span class='danwei'>单位: 元</span> </td>
                        </tr>
                        <tr ng-if='addEquative.approvalWay==1 && !idshow'>
                            <td><span class='wjx'>*</span>{{i18n('审批金额')}} :</td>
                            <td><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" class="borderStyle" style="width: 279px !important; " placeholder="" ng-model='addEquative.approvalAmount'></td>
                            <td> <span class='danwei'>单位: 元</span> </td>
                        </tr>
                    </tbody>
                </table>
                <div class='btn-box' style="margin-top: 40px;
                width: 411px;display: flex;align-items: center;justify-content: center;">
                <div>
                    <input type="button" class="btn btn_hold" ng-click="saveb()" style="margin-right: 9px; border: 1px solid #DDDDDD;border-radius: 2px;width: 57px;height: 32px;line-height: 32px;" value="{{i18n('确定')}}">
                    <input type="button" class="btn btn_hold cancelbtn" style="border: 1px solid #DDDDDD;background-color: white !important;color: #CC0000;border-radius: 2px;width: 57px;height: 32px;line-height: 32px;" ng-click='goback()' value="{{i18n('取消')}}">
                  </div>
                </div>
            </div>
        </div>
        <!-- 编辑员工的页面 -->
        <div class='fr cost-info' ng-if='step==3'>
            <div class='goback' ng-click='goback()'> << {{i18n('返回')}}</div>
                <div class='title'>{{i18n('编辑员工')}}</div>
                <div class="nav">
                    <span>{{allroad[0]}}</span> <i ng-if='allroad[1]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[1]}}</span> <i ng-if='allroad[2]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[2]}}</span> <i ng-if='allroad[3]' class="icon-top-down icon-person down-person cost-down"></i> <span>{{allroad[3]}}</span> <i class="icon-top-down icon-person down-person cost-down"></i> <span>{{i18n('编辑员工')}}</span>
                </div>
                <div class="employ">{{i18n('员工信息')}}</div>
                <div class='editEmploy'>
                    <table class='employ-tab'>
                        <tbody>
                            <tr>
                                <td>{{i18n('用户ID')}}:</td>
                                <td><input type="text" disabled ng-model='userInfo.id'></td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('用户账号')}}:</td>
                                <td><input type="text" placeholder="请输入用户账号" ng-model='userInfo.username'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('密码')}}:</td>
                                <td><input type="password" placeholder="请输入修改密码" ng-model='userInfo.password' ng-change='editpas()'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('确认密码')}}:</td>
                                <td><input type="password" placeholder="请输入修改密码" ng-model='userInfo.password2'></td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('姓名')}}:</td>
                                <td><input type="text" placeholder="请输入姓名" ng-model='userInfo.nickname'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('手机号')}}:</td>
                                <td><input type="text" placeholder="请输入手机号" ng-model='userInfo.mobile'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('性别')}}:</td>
                                <td><select name="" id="" ng-model="userInfo.sex" > <option selected>请选择</option> <option value="0">{{i18n('男')}}</option><option value="1">{{i18n('女')}}</option><option value="2">{{i18n('保密')}}</option></select></td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('联系电话1')}}:</td>
                                <td class='otherp'><input type="text" class="one" ng-model='userInfo.linkTel'> <span>-</span> <input type="text" class='second' ng-model='userInfo.linkTelExt'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('联系电话2')}}:</td>
                                <td class='otherp'><input type="text" class="one" ng-model='userInfo.linkTel2'> <span>-</span> <input class='second' type="text" ng-model='linkTelExt2'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('传真')}}:</td>
                                <td class='otherp'><input type="text" class="one" ng-model='userInfo.faxTel'> <span>-</span> <input type="text" class='second' ng-model='userInfo.faxTelExt'></td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('邮箱')}}:</td>
                                <td><input type="text" placeholder="请输入邮箱" ng-model='userInfo.email'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('工号')}}:</td>
                                <td><input type="text" placeholder="请输入工号" ng-model='userInfo.jobNumber'></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="employ">{{i18n('自定义信息')}}</div>
                <div class='custominfo'>
                        <input  type="button" class="btn btn_hold choseP1" ng-click='tochosedepart()' value="{{i18n('选择成本中心')}}">

                    <table class='custom-tab'>
                        <tbody>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('所属成本中心')}}:</td>
                                <td>
                                    <div class='assessP'>
                                        <li ng-repeat='w in realListb'>{{w.costName}}<img src="../images/cancelbtn.png" alt="" ng-click='deleRealb(w.id)'></li>                                
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td ng-if="cateList && cateList.length"><span class='wjx'>*</span>{{i18n('商品访问')}}:</td>
                                <td>
                                    <div ng-repeat='cate in cateList'>
                                        <span>{{cate.name}}</span>
                                        <label for="all{{cate.id}}" class="radioStyle-big">
                                            <input id="all{{cate.id}}" type="radio" ng-model='cate.productVisitType' ng-value="1">
                                            <span></span> {{i18n('所有')}}
                                        </label>
                                        <label for="xieyi{{cate.id}}" class="radioStyle-big">
                                            <input id="xieyi{{cate.id}}" type="radio" ng-model='cate.productVisitType' ng-value="2">
                                            <span></span> {{i18n('协议')}}
                                        </label>
                                        <label for="disnone{{cate.id}}" class="radioStyle-big">
                                            <input id="disnone{{cate.id}}" type="radio" ng-model='cate.productVisitType' ng-value="3">
                                            <span></span> {{i18n('不可见')}}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('审批方式')}}:</td>
                                <td>
                                    <label for="bumen" class="radioStyle-big">
                                        <input id="bumen" type="radio" ng-model='custominfo.approveType' value='1'>
                                        <span></span> {{i18n('按部门审批')}}
                                    </label>
                                    <label for="yonghu" class="radioStyle-big">
                                        <input id="yonghu" type="radio" ng-model='custominfo.approveType' value="2">
                                        <span></span> {{i18n('按用户审批')}}
                                    </label>
                                    <label for="nosp" class="radioStyle-big">
                                        <input id="nosp" type="radio" ng-model='custominfo.approveType' value="3">
                                        <span></span> {{i18n('不审批')}}
                                    </label>
                                </td>
                            </tr>
                            <tr ng-if='custominfo.approveType==2'>
                                <td><span class='wjx'>*</span>{{i18n('审批人')}} :</td>
                                <td  style='position: relative;'>
                                        <input  type="button" class="btn btn_hold choseP2" value="{{i18n('选择审批人')}}" ng-click='openshenpi()'>
                                    <div class='assessP'>
                                        <li ng-repeat='k in realList' >
                                            <div>
                                                <span>{{k.username}}</span> 
                                                (<span>{{k.approveAmount}}</span>元)<img src="../images/editbtn.png" alt="" ng-click='showeditm($index)'><img src="../images/cancelbtn.png" alt="" ng-click='deleReal1(k.id)'></div>
                                            <span class='edit-person' ng-class="{'show':moneyid == ($index+1)}">{{k.username}} 
                                                <input type="text" maxlength="18" ng-model='k.money1' onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')"> 元
                                                <em ng-click='editconfirm(k)' style="cursor: pointer;">{{i18n('确定')}}</em>
                                                <em ng-click='editcancel(k)' style="cursor: pointer;">{{i18n('取消')}}</em>
                                            </span></div> 
                                        </li>
                                        
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if='custominfo.approveType==2'>
                                <td><span class='wjx'>*</span>{{i18n('审批金额')}} :</td>
                                <td><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" ng-model='custominfo.approvalAmountLimit'></td>
                            </tr>
                            <tr>
                                <td>{{i18n('财政年起始月')}} :</td>
                                <td>
                                    <select name="month" ng-model="userEdit.month" ng-change="setDays()">
                                        <option value="{{e}}" ng-repeat="e in infos.months">{{e}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n('财政年起始天')}} :</td>
                                <td>
                                    <select name="day" ng-model="userEdit.day">
                                        <option value="{{e}}" ng-repeat="e in infos.days">{{e}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n('单笔订单采购限额')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu" class="radioStyle-big">
                                        <input id="wu" type="radio" ng-model='custominfo.soAmountLimitIs' value='0' name='soAmountLimitIs' checked>
                                        <span></span> {{i18n('无')}}
                                    </label>
                                    <label for="you" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you" type="radio" ng-model='custominfo.soAmountLimitIs' value='1' name='soAmountLimitIs'>
                                        <span></span> {{i18n('有')}}
                                    </label>
                                    <div class='minput fr' ng-show="custominfo.soAmountLimitIs == 1">
                                        <span class='wjx'>￥</span>
                                        <input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" ng-model='custominfo.soAmountLimit' style='width: 192px;text-indent: 20px;'>
                                    </div>
                                    <!-- <div class='minput fr' ng-show="custominfo.soAmountLimitIs == 0"><span class='wjx'>￥</span><input type="text" value="0" disabled style='width: 192px;text-indent: 20px;'></div> -->
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n('单笔订单单一商品限额')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu1" class="radioStyle-big">
                                        <input id="wu1" type="radio" ng-model='custominfo.itemAmountLimitIs' value='0' name='itemAmountLimitIs' checked>
                                        <span></span> {{i18n('无')}}
                                    </label>
                                    <label for="you1" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you1" type="radio" ng-model='custominfo.itemAmountLimitIs' value='1' name='itemAmountLimitIs'>
                                        <span></span> {{i18n('有')}}
                                    </label>
                                    <div class='minput fr' ng-show="custominfo.itemAmountLimitIs ==1">
                                        <span class='wjx'>￥</span>
                                        <input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" ng-model='custominfo.itemAmountLimit' style='width: 192px;text-indent: 20px;'>
                                    </div>
                                    <!-- <div class='minput fr' ng-show="custominfo.itemAmountLimitIs ==0"><span class='wjx'>￥</span><input type="text" value="0" disabled style='width: 192px;text-indent: 20px;'></div> -->
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n('月采购限额')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu2" class="radioStyle-big">
                                        <input id="wu2" type="radio" ng-model='custominfo.monthAmountLimitIs' value='0' name='monthAmountLimitIs' checked>
                                        <span></span> {{i18n('无')}}
                                    </label>
                                    <label for="you2" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you2" type="radio" ng-model='custominfo.monthAmountLimitIs' value='1' name='monthAmountLimitIs'>
                                        <span></span> {{i18n('有')}}
                                    </label>
                                    <div class='minput fr' ng-show="custominfo.monthAmountLimitIs == 1">
                                        <span class='wjx'>￥</span>
                                        <input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" ng-model='custominfo.monthAmountLimit' style='width: 192px;text-indent: 20px;'>
                                    </div>
                                    <!-- <div class='minput fr' ng-show="custominfo.monthAmountLimitIs == 0"><span class='wjx'>￥</span><input type="text" value="0" disabled style='width: 192px;text-indent: 20px;'></div>                                     -->
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n('季度采购限额')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu3" class="radioStyle-big" style="margin-top: 16px">
                                        <input id="wu3" type="radio" ng-model='custominfo.seasonAmountLimitIs' value='0' checked>
                                        <span></span> {{i18n('无')}}
                                    </label>
                                    <label for="you3" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you3" type="radio" ng-model='custominfo.seasonAmountLimitIs' value='1'>
                                        <span></span> {{i18n('有')}}
                                    </label>
                                    <div class='minput1 fr' ng-show="custominfo.seasonAmountLimitIs ==1">
                                       <div style="white-space:nowrap;">
                                            <span>Q1</span> <span class='wjx' style='left:24px;top:0px'>￥</span><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" style='width: 60px;text-indent: 16px;margin-right: 21px;margin-bottom: 5px;'  ng-model='custominfo.seasonAmountLimitQ1'>
                                            <span>Q2</span> <span class='wjx' style='left:134px;top:0px'>￥</span><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" style='width: 60px;text-indent: 16px;margin-bottom: 5px;'  ng-model='custominfo.seasonAmountLimitQ2'>
                                       </div>
                                       <div style="white-space:nowrap;">
                                            <span>Q3</span> <span class='wjx' style='left:24px;top:26px'>￥</span><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" style='width: 60px;text-indent: 16px;margin-right: 21px;margin-bottom: 5px;'  ng-model='custominfo.seasonAmountLimitQ3'>
                                            <span>Q4</span> <span class='wjx' style='left:134px;top:26px'>￥</span><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" style='width: 60px;text-indent: 16px;margin-bottom: 5px;'  ng-model='custominfo.seasonAmountLimitQ4'>
                                       </div>
                                    </div>
                                    <!-- <div class='minput1 fr' ng-show="custominfo.seasonAmountLimitIs ==0">
                                        <div style="white-space:nowrap;">
                                            <span>Q1</span> <span class='wjx' style='left:24px;top:0px'>￥</span><input type="text" style='width: 60px;text-indent: 16px;margin-right: 21px;margin-bottom: 5px;'  value="0" disabled>
                                            <span>Q2</span> <span class='wjx' style='left:134px;top:0px'>￥</span><input type="text" style='width: 60px;text-indent: 16px;margin-bottom: 5px;' value="0" disabled>
                                        </div>
                                        <div style="white-space:nowrap;">
                                            <span>Q3</span> <span class='wjx' style='left:24px;top:26px'>￥</span><input type="text" style='width: 60px;text-indent: 16px;margin-right: 21px;margin-bottom: 5px;'  value="0" disabled>
                                            <span>Q4</span> <span class='wjx' style='left:134px;top:26px'>￥</span><input type="text" style='width: 60px;text-indent: 16px;margin-bottom: 5px;' value="0" disabled>
                                        </div>
                                    </div> -->
                                </td>
                            </tr>
                            <tr>
                                <td>{{i18n('年采购限额')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu4" class="radioStyle-big">
                                        <input id="wu4" type="radio" ng-model='custominfo.yearAmountLimitIs' value='0' checked>
                                        <span></span> {{i18n('无')}}
                                    </label>
                                    <label for="you4" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you4" type="radio" ng-model='custominfo.yearAmountLimitIs' value='1'>
                                        <span></span> {{i18n('有')}}
                                    </label>
                                    <div class='minput fr' ng-show="custominfo.yearAmountLimitIs ==1"><span class='wjx'>￥</span><input type="text" maxlength="18" onkeyup="value=value.replace(/[^1-9]{0,1}(\d*(?:\.\d{0,2})?).*$/g, '$1')" ng-model='custominfo.yearAmountLimit' style='width: 192px;text-indent: 20px;'></div>
                                    <!-- <div class='minput fr' ng-show="custominfo.yearAmountLimitIs ==0"><span class='wjx'>￥</span><input type="text" value="0" disabled style='width: 192px;text-indent: 20px;'></div>                                     -->
                                </td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('月采购余额跨月累计')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu5" class="radioStyle-big">
                                        <input id="wu5" type="radio" ng-model='custominfo.monthOverIs' value='1'>
                                        <span></span> {{i18n('是')}}
                                    </label>
                                    <label for="you5" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you5" type="radio" ng-model='custominfo.monthOverIs' value='0' checked>
                                        <span></span> {{i18n('否')}}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('季采购余额跨月累计')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu6" class="radioStyle-big">
                                        <input id="wu6" type="radio" ng-model='custominfo.seasonOverIs' value='1'>
                                        <span></span> {{i18n('是')}}
                                    </label>
                                    <label for="you6" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you6" type="radio" ng-model='custominfo.seasonOverIs' value='0' checked>
                                        <span></span> {{i18n('否')}}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('用户新建收货地址')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu7" class="radioStyle-big">
                                        <input id="wu7" type="radio" ng-model='custominfo.newAddressIs' value='1'>
                                        <span></span> {{i18n('是')}}
                                    </label>
                                    <label for="you7" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you7" type="radio" ng-model='custominfo.newAddressIs' value='0' checked>
                                        <span></span> {{i18n('否')}}
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td><span class='wjx'>*</span>{{i18n('是否显示报表')}} :</td>
                                <td class='clearfix'>
                                    <label for="wu8" class="radioStyle-big">
                                        <input id="wu8" type="radio" ng-model='custominfo.showReportIs' value='1'>
                                        <span></span> {{i18n('是')}}
                                    </label>
                                    <label for="you8" class="radioStyle-big" style="margin-left: 52px;">
                                        <input id="you8" type="radio" ng-model='custominfo.showReportIs' value='0' checked>
                                        <span></span> {{i18n('否')}}
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class='btn-box'>
                        <input type="button" class="btn btn_hold" ng-click='saveEmploy()' value="{{i18n('保存')}}">
                        <input type="button" class="btn btn_hold cancelbtn" ng-click='back1()' value="{{i18n('取消')}}">
                    </div>
                </div>
        </div>
        <!-- 选择部门弹框 -->
        <div class="modal"style="display:block" ng-if='showdepart'>
            <div class="location">
                <span class="dialog-closeOne" ng-if='!isradio' ng-click="closedepart()">&times;</span>
                <span class="dialog-closeOne" ng-if='isradio' ng-click="closedepart1()">&times;</span>
                <div class="dialog-header">
                    {{i18n('选择部门')}}
                </div>
                <div class="dialog-content1">
                    <div ng-if='!isradio' class='chosebumen clearfix'><span class="fl">  {{i18n('选择部门')}}</span><span class='fr'>{{haschose.length}}/{{ztreedata1.length}}</span> </div>
                    <!-- <div class='chosebumen clearfix'><span class="fl"> <span class='imgs' ng-click=''></span> {{i18n('选择部门')}}</span><span class='fr'>{{haschose.length}}/{{ztreedata1.length}}</span> </div> -->
                    <div class="chose-input">
                        <input type="text" id='key1' value="" class="empty" placeholder="请输入关键字">
                        <img src="../images/search.png" alt="">
                    </div>

                    <ul id="tree1" class="ztree" ng-if='!isradio'></ul>
                    <ul id="tree4" class="ztree" ng-if='isradio'></ul>
                    <div class='btn-box'>
                        <input ng-if='!isradio' type="button" class="btn" ng-click="chosdepart()" value="{{i18n('确定')}}">
                        <input ng-if='isradio' type="button" class="btn" ng-click="chosdepart1()" value="{{i18n('确定')}}">
                        <input ng-if='!isradio' type="button" class="btn" ng-click="closedepart()" value="{{i18n('取消')}}">
                        <input ng-if='isradio' type="button" class="btn" ng-click="closedepart1()" value="{{i18n('取消')}}">
                    </div>
                </div>

            </div>
        </div>
        <!-- 选择审批人弹框 -->
        <div class="modal"style="display:block" ng-if='showshenpi'>
            <div class="location">
                <span class="dialog-closeOne" ng-click="closeshenpi()">&times;</span>
                <div class="dialog-header">
                    {{i18n('选择审批人')}}
                </div>
                <div class="dialog-content1">
                    <!-- <div class='chosebumen clearfix'><span class="fl">{{i18n('选择审批人')}}</span><span class='fr'>{{haschosep.length}}</span> </div> -->
                    <div class='chosebumen clearfix'><span class="fl">{{i18n('选择审批人')}}</span></div>
                    <div class="chose-input">
                        <input type="text" id='key2' value="" class="empty" placeholder="请输入关键字">
                        <img src="../images/search.png" alt="">
                    </div>

                    <ul id="tree2" class="ztree"></ul>
                    <div class='btn-box'>
                        <input  type="button" class="btn" ng-click="choseshenpi()" value="{{i18n('确定')}}" ng-if='step==3'>
                        <input  type="button" class="btn" ng-click="choseshenpi1()" value="{{i18n('确定')}}" ng-if='step==2'>
                        <input  type="button" class="btn" ng-click="closeshenpi()" value="{{i18n('取消')}}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@@include("footer.html")
@@include("script.html")
<!-- <script type="text/javascript" src="/jquery-1.4.4.min.js?v=${version}"></script> -->
<script type="text/javascript" src="/jquery.ztree.core.js?v=${version}"></script>
<script type="text/javascript" src="/jquery.ztree.excheck.js?v=${version}"></script>
<script type="text/javascript" src="/jquery.ztree.exhide.js?v=${version}"></script>
<script type="text/javascript" src="/fuzzysearch.js?v=${version}"></script>
<script type="text/javascript" src="/costCenter.js?v=${version}"></script>
<script type="text/javascript" src="/api/i18n.do?response=angular&poolName=pc&group=index"></script>
</body>
</html>
