<!-- 订单前台状态 toPay:待支付 delivery:待发货 delivered:待收货 4:待评价 completed:已完成 closed:已取消 13：已支付（只有拼团订单才会有） -->
<!--未取消订单-->
<div class="stepState">
    <ul>
        <li ng-class="{'active': true}">
            <i></i>
            <!-- <span ng-if="detail.approveOrders.approvalStatus == 0">{{i18n('待审批')}}<label></label></span> -->
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('待审批')}}</h4>
            <p>{{detail.order.orderCreateTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
        <li ng-class="{'active':detail.approveOrders.approvalStatus != 0}">
            <i></i>
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('审批中')}}</h4>
            <p ng-if="detail.approveOrders.approvalStatus != 0 && detail.order.orderApprovingTime">{{detail.order.orderApprovingTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
        <li ng-class="{'active':detail.order.approvalStatus == 2}" ng-show="detail.order.approvalStatus != 3 && detail.order.approvalStatus != 4">
            <i></i>
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('待确认')}}</h4>
            <p ng-if="detail.order.approvalStatus == 2 && detail.order.orderConfiringTime">{{detail.order.orderConfiringTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
        <li ng-class="{'active': detail.approveOrders.approvalStatus == 4}" ng-show="detail.order.approvalStatus == 4">
            <i></i>
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('已退回')}}</h4>
            <p ng-if="detail.approveOrders.approvalStatus == 4 && detail.order.ordersendBackTime">{{detail.order.ordersendBackTime |  date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
        <li ng-class="{'active': detail.approveOrders.approvalStatus == 3}" ng-show="detail.order.approvalStatus == 3">
            <i></i>
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('已拒绝')}}</h4>
            <p ng-if="detail.approveOrders.approvalStatus == 3 && detail.order.orderRejectTime">{{detail.order.orderRejectTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
        <li ng-class="{'active':detail.order.orderStatus === baseConfig.orderStatus.received,'current':detail.order.orderStatus === baseConfig.orderStatus.received||detail.order.orderStatus === baseConfig.orderStatus.completed}">
            <i></i>
            <!-- <span ng-if="detail.order.orderStatus === baseConfig.orderStatus.received &&detail.order.orderType ==$parent.switchConfig.orderType.service">{{i18n('正在安装')}}<label></label></span>
            <span ng-if="detail.order.orderStatus === baseConfig.orderStatus.received &&detail.order.orderType ==$parent.switchConfig.orderType.general">{{i18n('配送中')}}<label></label></span> -->
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('待发货')}}</h4>
            <p ng-if="detail.order.orderStatus === baseConfig.orderStatus.received && detail.order.orderDeliveryTime">{{detail.order.orderDeliveryTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
        <li ng-class="{'active':detail.order.orderStatus === baseConfig.orderStatus.received,'current':detail.order.orderStatus === baseConfig.orderStatus.received||detail.order.orderStatus === baseConfig.orderStatus.completed}">
            <i></i>
            <span ng-if="detail.order.orderStatus === baseConfig.orderStatus.received &&detail.order.orderType ==$parent.switchConfig.orderType.service">{{i18n('正在安装')}}<label></label></span>
            <span ng-if="detail.order.orderStatus === baseConfig.orderStatus.received &&detail.order.orderType ==$parent.switchConfig.orderType.general">{{i18n('配送中')}}<label></label></span>
            <h5>
                <address></address>
                <cite>
                    <em></em>
                </cite>
            </h5>
            <h4>{{i18n('待收货')}}</h4>
            <!-- <p ng-if="detail.order.orderStatus === baseConfig.orderStatus.received">{{detail.order.orderDeliveryedTime | date:'yyyy-MM-dd HH:mm:ss'}}</p> -->
        </li>
        <li ng-class="{'active':detail.order.orderStatus === baseConfig.orderStatus.completed}">
            <i></i>
            <h4>{{i18n('完成')}}</h4>
            <p ng-if="detail.order.orderStatus === baseConfig.orderStatus.completed && detail.order.orderReceiveTime">{{detail.order.orderReceiveTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>
    </ul>
</div>
