<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="heimdall" content="搜索页">
    <script type="text/javascript" src="/view/cms,frontier_guide/pc/templateJS.json"></script>
    <link rel="stylesheet" type="text/css" href="/search#((skin)).css?v=${version}">
    <link rel="stylesheet" type="text/css" href="/common.css?v=${version}">
	<link rel="stylesheet" type="text/css" href="/index#((skin)).css?v=${version}">
</head>

<body ng-app="appControllers" ng-controller="consumableProductsCtrl" class="search-list-page consumable-products">
    @@include("header.html")
    @@include("global-nav.html")
    <!--活动商品聚合页-->
    <!-- @@include("_searchlistpromotion.html") -->
    
    <div class="container" ng-cloak style="margin-top: 45px;position: relative;">
        <div class="follow clearfix queryOrderFloat">
            <div class="follow-right pdL10 clearfix">
                <input type="text" name="" ng-model="keywords" placeholder="{{i18n('按设备型号')}}/{{i18n('按耗材型号')}}">
                <input type="button" value="{{i18n('搜索')}}" ng-click="gotoSearch()">
            </div>
        </div>
        @@include("_jumbotron.html")
        <div class="filtrate consumableproducts">
            <div class="brands" ng-show="allBrands && allBrands.length">
                <div class="left">品牌</div>
                <div class="right">
                    <div class="per-brands" ng-repeat="item in allBrands track by $index" ng-click="chooseBrand(item,$index)" ng-class="{active: currentIndex== $index}">
                        <!-- <img ng-src="../../images/dian.png" alt="" ng-click="chooseBrand(item,$index)"> -->
                        {{item.name}}
                    </div>
                </div>
                <!-- <div class="opration">
                    <div class="more">
                        <span>更多</span>
                        <i class="icon-top-down icon-person down-person"></i>    
                    </div>
                </div> -->
            </div>
            <div class="version" ng-show="versionList && versionList.length">
                <div class="left">设备型号</div>
                <div class="right">
                    <div class="per-version" ng-repeat="item in versionList track by $index" ng-if="item.merchantProduct.artNo" ng-click="chooseVersion(item)">
                        {{item.merchantProduct.artNo}}
                    </div>
                </div>
                <!-- <div class="opration"></div> -->
            </div>
        </div>
        <div id="{{shopFlag?'store-pro':'pro-list'}}">
            <div class="pro" ng-style="{height: $parent.switchConfig.guide.search.showMiniCartBtn? '420px': ($parent.switchConfig.guide.search.showMerchantName? '400px':'370px'), 'min-height': $parent.switchConfig.guide.search.showMiniCartBtn? '420px': ($parent.switchConfig.guide.search.showMerchantName? '400px':'370px')}" ng-repeat="prod in searchedObj.productList" ng-init="prod.amount=1;prod.showTip=false">
                <div goods-item class="goods-item" prod="prod" options="{showComment:true}" prod-list="searchedObj.productList">
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- <div goods-item class="goods-item" prod="prod" options="{showComment:true}" ></div> -->
        <!-- 新修改的代码 begin -->
        <!-- <div crumb crumb-list="crumbList" active-attr="activeAttr" keyword="noResultKeyword1" is-list="isList"> -->
            <!-- 结果个数 -->
            <!-- <div id="resultcount">
                {{i18n('共')}} <span>{{searchedObj.totalCount || 0}}</span> {{i18n('条')}}
            </div> -->
        </div>

        <div ng-show="!searchedObj" class="searchLoading">
            <!-- <img width="194" src="/images/company/loading.gif?v=${version}" alt="{{i18n('等待')}}。。。" ng-src="{{frontBasicSetting.websiteLoading}}"> -->
        </div>
        <!--导购属性/商品分类-->
        <!-- <div id="classify" ng-if="searchedObj.totalCount>0" ng-init="ngMin=4">
            <div search-property callback="getProduct()"  datas="searchedObj.brandResult" title="{{$parent.brandName}}"></div>
            <div search-property callback="getProduct()" datas="attrs.attributeValues" title="{{attrs.name}}" options="{dataType:'list'}" ng-repeat="attrs in searchedObj.attributeResult|limitTo:ngMin"></div>
            <div search-property callback="getProduct()" datas="cates.children" title="{{cates.name}}" options="{dataType:'search'}" ng-repeat="cates in searchedObj.navCategoryTreeResult[0].children|limitTo:ngMin" ng-if="!isList"></div>
            <div class="type" style="text-align: center;padding:10px;width: 160px;margin: 0 auto;" ng-show="searchedObj.attributeResult.length>4||searchedObj.navCategoryTreeResult[0].children.length>4">
                <a href="javascript:;" ng-click="ngMin=ngMin==4?1000:4" ng-bind="ngMin==4?i18n('展开更多选项'):i18n('收起')"></a><i ng-class="{'icon-top-up mgL10':ngMin>4,'icon-top-down mgL10':ngMin==4}"></i>
            </div>
        </div> -->
        <!--搜索结果大于0,显示结果-->
        <div class="container search-list" ng-if="searchedObj.zeroRecommendResult.length>0||searchedObj.productList.length>0">
            <div recommend-goods crumb-list="crumbList" class="recommend-goods" side="left" title="{{i18n('热销商品')}}" scene-no="1" options="$parent.switchConfig.guide.search.recommendGoodSearchOptions" ng-if="switchConfig.guide.search.searchShowRecommendGood && crumbList && crumbList.length > 0"></div>
            <div class='container-right' ng-include="'includes/_searchlist.html'" ng-if="searchedObj.productList" ng-class="{'search-list-right': $parent.switchConfig.guide.search.searchShowRecommendGood && crumbList && crumbList.length > 0}"></div>
        </div>
    </div>
    @@include("footer.html")
    @@include("script.html")
    <script type="text/javascript" src="/search.js?v=${version}"></script>
    <script type="text/javascript" src="/consumableProducts.js?v=${version}"></script>
    <script type="text/javascript" src="/api/i18n.do?response=angular&poolName=pc&group=search"></script>
</body>

</html>
