<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="heimdall" content="">
    <script type="text/javascript" src="/view/cms,frontier_guide/pc/templateJS.json"></script>
    <link rel="stylesheet" type="text/css" href="/search#((skin)).css?v=${version}">
    <link rel="stylesheet" type="text/css" href="/common.css?v=${version}">
	<link rel="stylesheet" type="text/css" href="/index#((skin)).css?v=${version}">
</head>
<!-- style="background-color:rgb(248, 248, 248)" -->
<body ng-app="appControllers" ng-controller="industrialProductsCtrl" class="search-list-page">
    @@include("header.html")
    @@include("global-nav.html")
    @@include("_jumbotron.html")
    <div class="industrialProduct-hot-goods container">
        <div class="head-title">热卖商品</div>
        <ul class="clearfix" style="padding-bottom: 20px">
            <li ng-repeat="item in gyp_brand track by $index" ng-class="{mgT10: $index>=7}" ng-if="$index<=13">
                <img ng-src="{{item.imageUrl}}" alt="">
                <!-- <p>{{item.name}}</p> -->
            </li>
        </ul>
    </div>
    <!-- <div class="container pro-top" style="margin-bottom: 10px;">共有<span class="theme">{{totalNum || 0}}</span>件商品，<span class="theme">{{totalCategory || 0}}</span>个品类</div> -->
    <div class="container industrialProduct-index"  ng-if="endLoading" ng-cloak>
        <div class="pro-category" ng-repeat="item in listChildrenCategory track by $index" ng-if="$index<=4">
                
            <div class="first"><span ng-click="goToUrl(item,$index)">{{item.name}}</span></div>
            <div class="two-content">
                <div class="two" ng-repeat="items in item.secondCategory track by $index" ng-click="chooseCategory(items,$index)" ng-if="$index<=13"> 
                    <img ng-src="{{items.pictureUrl}}" alt=""> 
                    {{items.name}}          
                </div>
            </div>      
        </div>
    </div>
    <div class="saw-more"><span ng-click="goToUrl()" style="color: #999;margin-top: 10px;cursor: pointer;">查看更多</span><i class="icon-top-down icon-person down-person" style="margin-bottom: 1px; margin-left: 2px;"></i></div>
    @@include("footer.html")
    @@include("script.html")
    <script type="text/javascript" src="/industrialProducts.js?v=${version}"></script>
    <script type="text/javascript" src="/api/i18n.do?response=angular&poolName=pc&group=search"></script>
</body>

</html>
