<div class="collection">
    <ul>
        <li class='follow small-pic' ng-if="!isPointPro"><a id="collec" href="javascript:void(0)" ng-click="pcIteminfo._addFavorite()"><i ng-class="{'icon-collect':!isFavorite,'icon-collected':isFavorite}" style="display: block;"></i>{{i18n('收藏')}}</a></li>
        <!-- <li ng-click='showBox()'   class='share small-pic'><i class="share-img"></i>{{i18n('分享')}}</li> -->
        <!--ng-mouseenter="closeShareMove()" ng-mouseleave="closeShareLeave()"-->
        <!--<li class='margin-zero'>举报</li>-->
        <!-- <li class='shopCode'>{{i18n('商品编码')}}：{{itemlist.code}}</li> -->
    </ul>
    <!-- <div class="share-text-box"  id="shareContentBox" ng-mouseenter="closeShareMove()" ng-mouseleave="closeShareLeave()" ng-show="closeShare">
        <label>{{shareData.pc.desc}}</label>
        <s>
            <em></em>
        </s>
    </div> -->
</div>
