<div id="Consultation" class="content" ng-if="$parent.switchConfig.guide.item.goodNavigation.goodConsulting">
    <div ng-if="takeAq.length<0" class="consultation">
        {{i18n('还没有人咨询过该商家哦')}}~
    </div>
    <div good-detail-bomb  question-data="busData" send-request="true"></div>
    <div class="problem-all">
        <span>{{i18n('商品咨询')}}</span>
    </div>
    <div class="me-problem">
        <span class="me-one">{{i18n('对商品有什么疑惑')}}，{{i18n('来问问商家吧')}}</span>
        <input ng-click="busQuestion()" type="button" value="{{i18n('我要提问')}}" ng-if="consultPermissions.publish">
    </div>
    <div ng-if="takeAq.length>0" class="problem-box"  ng-repeat="e in takeAq">
        <dl class="clearfix">
            <dt>
                <span class="one-text question-text">{{i18n('问')}}</span>
                <span class="problem-aa width685">{{e.content}}</span>
            </dt>
            <dd>
                <span class="user-name" ng-if="e.userName || e.userTelephone">{{e.userName || e.userTelephone | phoneDate}}</span>
                <span class="color-9">{{e.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </dd>
        </dl>
        <dl ng-repeat="v in e.listObj | limitTo:1 " class="clearfix second-dl" ng-show="v.show">
            <dt>
                <span ng-show="$first" class="one-text answer">{{i18n('答')}}</span>
                <span class="width685">{{v.content}}</span>
            </dt>
            <dd>
                <span class="user-name">{{v.userName}}</span>
                <span class="color-9">{{v.createTime|date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </dd>
        </dl>
    </div>
    <div pagination ng-if="takeAq.length>0" page-size="QaitemsPerPage" page-no="QacurrentPage" total-count="QaTotalCount" total-page="QaTotalNum"></div>
</div>
