<!doctype html>
<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script type="text/javascript" src="/view/cms,frontier_guide/pc/templateJS.json"></script>
	<link rel="stylesheet" type="text/css" href="/common.css?v=${version}">
	<link rel="stylesheet" type="text/css" href="/binding#((skin)).css?v=${version}">
</head>

<body ng-app="appControllers" ng-controller="bindCtrl">
	<!-- 头部 -->
	@@include("userheader.html")
	<span ng-if="$parent.switchConfig.common.showAllGlobalNav">
	    @@include("global-nav.html")
	</span>
	<div class="forgot-box">
		<div class="container" id="cregis-page" ng-cloak>
			<!-- 字-->
			<div class="loginTitle">{{i18n('绑定账号')}}</div>
			<form class="form" name="regisForm" novalidate ng-init="activeNum=0;">
				<h2><span ng-class="{'binding-active':activeNum==0}" ng-click="activeNum=0;isNoExistPhone=true;active()">{{i18n('已有账号')}}，{{i18n('请绑定')}}</span>
					<i class="spacer"></i>
					<span ng-class="{'binding-active':activeNum==1}" ng-click="activeNum=1;isExistPhone=true;active()">{{i18n('没有账号')}}，{{i18n('请完善资料')}}</span>
				</h2>
				<!--<div class="msg" ng-style="{display:msg?'block':'none'}">{{ msg }}</div>-->

				<!--已有账号，请绑定 begin-->
				<div class="have" ng-if="activeNum==0">
					<div class="row binding-title">
						<div class="cell c1">
							<a href="#"><img src="../../images/temporary/bind-img.png" alt="" width="50px" height="50px"></a>
						</div>
						<div class="cell c2">
							<div class="binding-name">Hi,<b>{{loginInfo.threeName}}</b>{{i18n('欢迎来到')}}<span>{{i18n($parent.switchConfig.common.companyName)}}</span>，{{i18n('完成绑定后可以')}}#{{i18n('微信')}}/QQ/{{i18n('微博')}}#{{i18n('一键登录哦')}}~</div>
						</div>

					</div>
					<div class="msg-bind">{{ msg }}</div>
					<div class="form-group">
						<input class="input" placeholder="{{i18n('手机号')}}" type="text" ng-model="loginInfo.phoneNumber" name="phoneNumber" id="phoneNumber" ng-blur="mobile_tip = false;checkPhone()"
						    ng-change="mobile_tip = false;checkPhone()">
					</div>
					<div class="form-group" ng-if="needImgCaptcha">
						<input class="input phone-user" placeholder="{{i18n('图片验证码')}}" type="text" ng-model="loginInfo.vicode" name="vicode">
						<div class="phone-code">
							<img width="100" height="40" class="vicode" id="vicode" ng-src="{{ checkImage }}" ng-click="cantSee()">
							<span><a href="javascript:void(0)" ng-click="cantSee()">{{i18n('看不清换一张')}}</a></span>
						</div>
					</div>
					<div class="form-group">
						<input class="input sms" placeholder="{{i18n('验证码')}}" type="text" ng-model="loginInfo.phoneCaptcha" name="phoneCaptcha">
						<input type="button" class="btn" ng-class="{'smsBtn': isNoExistPhone, 'smsBtnHigh': !isNoExistPhone}" ng-value="smsBtn" ng-click="smsSend($event)"
						    ng-disabled="isNoExistPhone">
					</div>
					<div class="form-group">
						<a class="forget" href="forgot.html">{{i18n('忘记密码')}}</a>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-cre" id="registerBtn" ng-click="bindMobile();">{{i18n('绑定')}}</button>
					</div>
				</div>
				<!--已有账号，请绑定 end-->
				<!--没有账号，请完善资料 begin-->
				<div class="no-have" ng-if="activeNum==1">
					<div class="row binding-title">
						<div class="cell c1">
							<a href="#"><img src="../../images/temporary/bind-img.png" alt="" width="50px" height="50px"></a>
						</div>
						<div class="cell c2">
							<div class="binding-name">Hi,<b>{{loginInfo.threeName}}</b>{{i18n('欢迎来到')}}<span>{{i18n($parent.switchConfig.common.companyName)}}</span>，{{i18n('完成绑定后可以')}}#{{i18n('微信')}}/QQ/{{i18n('微博')}}#{{i18n('一键登录哦')}}</div>
						</div>
					</div>
					<div class="msg-bind">{{registerErrMsg}}</div>
					<form class="form" name="regisForm" novalidate>
						<!--<div class="msg" ng-show="registerErrMsg != '' ">{{registerErrMsg}}</div>-->
						<div class="form-group">
							<!--<label><span class="require">*</span>手机号：</label>-->
							<div class="tips" ng-style="{'display':mobile_tip?'block':'none'}" id="animation-left">{{i18n('手机号')}}</div>
							<input class="input" name="mobile" ng-model="user.mobile" ng-blur="mobile_tip = false;checkChangePhone()" ng-change="mobile_tip = false;checkChangePhone()"
							    ng-focus="mobile_tip = true;isRepeatPhone=false;" ng-pattern="mobileRegExp" required placeholder="{{i18n('手机号')}}" autocomplete="off">
							<div class="tip" id="animation-right" ng-style="{'display':mobile_tip?'block':'none'}">{{i18n('仅支持')}}11{{i18n('位数字')}}</div>
							<div class="tip err" ng-style="{'display':!mobile_tip && regisForm.mobile.$dirty && regisForm.mobile.$invalid || !mobile_tip && registerSubmit && regisForm.mobile.$invalid || (!mobile_tip && isRepeatPhone) ?'block':'none'}">
								<span ng-show="regisForm.mobile.$error.required">{{i18n('手机号码不能为空')}}</span>
								<span ng-show="regisForm.mobile.$error.pattern">{{i18n('请输入')}}11{{i18n('位手机号')}}</span>
								<span ng-show="isRepeatPhone">{{i18n('账号已注册')}}</span>
							</div>
						</div>
						<!--<div class="form-group" ng-if="needImgCaptcha">
								<input class="input" placeholder="图片验证码" type="text" ng-model="loginInfo.vicode" name="vicode" autocomplete="off">
								<div class="phone-code">
									<img width="100" height="40" class="vicode" id="vicode" ng-src="{{ checkImage }}" ng-click="cantSee()">
									<span><a href="javascript:void(0)" ng-click="cantSee()">看不清换一张</a></span>
								</div>
						</div>-->
						<div class="form-group">
							<div class="tips" ng-style="{'display':captchas_tip?'block':'none'}" id="animation-left">{{i18n('验证码')}}</div>
							<input class="input sms" name="captchas" ng-model="user.captchas" ng-blur="captchas_tip = false;" ng-focus="captchas_tip = true;"
							    required placeholder="{{i18n('短信验证码')}}" autocomplete="off">
							<input type="button" class="btn" ng-class="{'smsBtn': isExistPhone, 'smsBtnHigh': !isExistPhone}" autocomplete="off" value="{{i18n('获取短信验证码')}}"
							    ng-model="captchaMsg" ng-click="smsRegisterSend($event)" ng-disabled="isExistPhone">
							<!--<div class="tip" ng-style="{'display':captchas_tip?'block':'none'}" id="animation-right">6位验证码</div>-->
							<div class="tip err" ng-style="{'display':!captchas_tip && regisForm.captchas.$dirty && regisForm.captchas.$invalid || !captchas_tip && registerSubmit && regisForm.captchas.$invalid?'block':'none'}">
								<span ng-show="regisForm.captchas.$error.required">{{i18n('验证码不能为空')}}</span>
							</div>
							<!--<div class="tip err" ng-style="{'display':!captchas_tip && captchasErrMsg != ''?'block':'none'}">{{captchasErrMsg}}</div> -->
						</div>
						<div class="form-group">
							<!--<label><span class="require">*</span>密码：</label>-->
							<div class="tips" ng-style="{'display':password_tip?'block':'none'}" id="animation-left">{{i18n('设置密码')}}</div>
							<input style="display:none">
							<input type="password" class="input" name="password" ng-model="user.password" ng-blur="password_tip = false;" ng-focus="password_tip = true;"
							    ng-pattern="passwordRegExp" required placeholder="{{i18n('设置密码')}}" autocomplete="off">
							<div class="tip" ng-style="{'display':password_tip?'block':'none'}" id="animation-right">{{i18n('建议使用字母')}}、{{i18n('数字和符号两种及以上的组合')}}，6-18{{i18n('个字符')}}</div>
							<div class="tip err" ng-style="{'display':!password_tip && regisForm.password.$dirty && regisForm.password.$invalid || !password_tip && registerSubmit && regisForm.password.$invalid?'block':'none'}">
								<span ng-show="regisForm.password.$error.required">{{i18n('密码不能为空')}}</span>
								<span ng-show="regisForm.password.$error.pattern">{{i18n('长度只能在')}}6-18{{i18n('个字符之间')}}</span>
							</div>
						</div>
						<div class="form-group pwd">
							<!--<label><span class="require">*</span>确认密码：</label>-->
							<div class="tips" ng-style="{'display':confirmPassword_tip?'block':'none'}" id="animation-left">{{i18n('确认密码')}}</div>
							<input type="password" class="input" name="confirmPassword" ng-model="user.confirmPassword" pw-check="password" ng-blur="confirmPassword_tip = false;"
							    ng-focus="confirmPassword_tip = true;" required placeholder="{{i18n('确认密码')}}" autocomplete="off">
							<div class="tip" ng-style="{'display':confirmPassword_tip?'block':'none'}" id="animation-right">{{i18n('请再次输入密码')}}</div>
							<div class="tip err" ng-style="{'display':!confirmPassword_tip && regisForm.confirmPassword.$dirty && regisForm.confirmPassword.$invalid || !confirmPassword_tip && registerSubmit && regisForm.confirmPassword.$invalid?'block':'none'}">
								<span ng-show="regisForm.confirmPassword.$error.required">{{i18n('确认密码不能为空')}}</span>
								<span ng-show="regisForm.confirmPassword.$error.repeat&&!regisForm.confirmPassword.$error.required">{{i18n('两次密码输入不一致')}}</span>
							</div>
						</div>
						<div class="form-group">
							<label  class="checkboxStyle-small" style="text-align: left !important;width: 360px!important;font-size: 12px;">
								<input id="registerBtn" type="checkbox" ng-model="$parent.protocol" id="registerBtn" ng-change="!$parent.protocol">
								<span></span>
								{{i18n('点击注册')}}，{{i18n('表示您同意')}}{{i18n($parent.switchConfig.common.companyName)}}
								<a href="javascript:void(0)" ng-click="showAgmt(true)" style="color: #013ca6">《{{protocolTitle}}》</a>
							</label>
							<div class="tip err err_new" ng-style="{'display':registerSubmit && !$parent.protocol?'block':'none'}">{{i18n('请接受服务条款')}}</div>
						</div>
						<div class="form-group">
							<!--<label></label>-->
							<!--<button type="button" class="btn" id="registerBtn" ng-click="register();">立即注册</button>-->
							<button type="button" class="btn" id="registerBtn" ng-click="register();" ng-class="{'smsBtnreg':!$parent.protocol}" ng-disabled="!$parent.protocol">{{i18n('同意协议注册')}}</button>
						</div>
					</form>
				</div>
				<!--没有账号，请完善资料 end-->
			</form>
		</div>
	</div>
	<!-- 注册协议 -->
	<div class="agmt" ng-style="{display: agmt?'block':'none'}">
		<div class="header">
			<h2>{{i18n('用户服务协议')}}</h2>
			<div class="close" ng-click="showAgmt(false, $event)">&times;</div>
		</div>
		<div id="protocalCms" class="body">
		</div>
		<div class="protocol-button" ng-click="showAgmtSubmit(false, $event)">
			<button class="btn">{{i18n('同意并继续')}}</button>
		</div>
	</div>
	@@include("footer.html") @@include("script.html")
	<script type="text/javascript" src="/binding.js?v=${version}"></script>
    <script type="text/javascript" src="/api/i18n.do?response=angular&poolName=pc&group=binding"></script>

</body>

</html>
