<dl class='first-dl'>
    <dt>{{i18n('价格')}}</dt>
    <dd ng-if="!item.isSeries">
        <div class='money' ng-if="!isPointPro">
            <span ng-show="item.managementState && !$parent.hideProductPrice" class="num">
                <span class='money-img'>￥</span>{{item.availablePrice}}
            </span>
            <span ng-show="item.managementState && $parent.hideProductPrice" class="num">
                <span class='money-img'></span>{{$parent.switchConfig.common.showTextWhenHidePrice}}
            </span>
            <span style="color: #000;" ng-show="!item.managementState">{{i18n('暂无价格')}}</span>
            <span class="member-price-box" ng-show="item.availablePriceText">
                <span class="member-price-text">{{item.availablePriceText}}</span>
            </span>
            <span ng-show="item.originalPrice && !$parent.hideProductPrice" class="originalPrice">{{item.originalPrice | currency : "￥"}}</span>
            <span ng-show="promotionType_s.iconText" class="starDown">{{promotionType_s.iconText}}</span>
        </div>
        <div class='money' ng-if="isPointPro">
                <span ng-show="item.managementState" ng-if="item.price" class="num">
                    <span class='money-img'>￥</span>{{item.price}}
                </span>
            <span ng-if="item.price && item.pointPrice">+</span>
            <span ng-show="item.managementState" ng-if="item.pointPrice" class="num">
                    <span class='money-img jifen'>{{i18n('积分')}}</span>{{item.pointPrice}}
                </span>
        </div>
    </dd>
    <dd ng-if="item.isSeries">
        <div class='money'>
            <span ng-show="item.managementState && !$parent.hideProductPrice" class="num">
                <span class='money-img'>￥</span>{{item.availablePrice}}
                <span ng-if="item.highestPrice">&nbsp;-&nbsp;<span class='money-img'>￥</span>{{item.highestPrice}}</span>
            </span>
            <span ng-show="item.managementState && $parent.hideProductPrice" class="num">
                <span class='money-img'></span>{{$parent.switchConfig.common.showTextWhenHidePrice}}
            </span>
            <span style="color: #000;" ng-show="!item.managementState">{{i18n('暂无价格')}}</span>
            <span class="member-price-box" ng-show="item.availablePriceText">
                <span class="member-price-text">{{item.availablePriceText}}</span>
            </span>
            <span ng-show="promotionType_s.iconText" class="starDown">{{promotionType_s.iconText}}</span>
        </div>
    </dd>
</dl>
